<!--Created by Mikael Lindahl (mikael) on 10/1/16.-->
<div style="height: 120px;" class="hidden-md-down"></div>
<div id='login-div' class="p-2 container d-flex flex-column justify-content-center">
    <h2 class="m-auto p-2" >Break a leg</h2>

    <form>

        <input id="user" type="text" class="form-control" placeholder="User">
        <input id="password" type="password" class="form-control" placeholder="Password">
        <hr/>
        <input id="auth-login" class="btn btn-login btn-block" type="button" value="Login">

    </form>

    <div id="result"></div>

</div>


