<!DOCTYPE html>

<!--Created by Mikael Lindahl (mikael) on 10/1/16.-->

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/invite-style.css">

    <title>Login bedazzle</title>
</head>

<header>
    <div id="logo"><a href="http://www.loredge.com"><img src="/img/logo.png"></a></div>
</header>

<body>
<div class="main" url="{{url}}">
    <div class="board">

        <h2>Welcome to Loredge analytics</h2>

        <iframe class='plot' src={{test}}></iframe>

    </div>
</div>
</body>
