<div class="container flex-column p-5">
    <table id="symbol-table" class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Symbol</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each symbols}}
        <tr row-id="{{id}}">
            <td class="'view"
                data-toggle="modal"
                data-target="#symbol-modal">
                {{id}}
            </td>
            <td class="'view"
                data-toggle="modal"
                data-target="#symbol-modal">
                {{version}}
            </td>
            <td class="'view"
                data-toggle="modal"
                data-target="#symbol-modal">
                {{debug_file}}
            </td>
            <td class="'view"
                data-toggle="modal"
                data-target="#symbol-modal">
                {{createdAt}}
            </td>
            <td>
                <a class="delete" href="#">
                    <svg class="icon">
                        <use xlink:href="#icon-bin"></use>
                    </svg>
                </a>
            </td>
        </tr>

        {{/each}}

        </tbody>
    </table>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="symbol-modal" tabindex="-1" role="dialog" aria-labelledby="modal_symbol_label">
    <div id="symbol-details-view" class="modal-dialog modal-lg" role="document">

    </div>
</div>


