<script id="symbol-details-template" type="text/x-handlebars-template">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_symbol_label">
                Symbol file <i>{{debug_file}} {{version}}</i>
            </h4>
        </div>
        <div class="modal-body">
            <p>
                {{file}}
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</script>
