<!DOCTYPE html>

<!--Created by Mikael Lindahl (mikael) on 10/1/16.-->

<html lang="en">

{{{head}}}

<body role="document">
{{{nav}}}

<div class="container main theme-showcase">
    <table id="symbol_table" class="display" cellspacing="0" width="100%" style="display: none">
        <thead>
        <tr>
            <th>Id</th>
            <th>Version</th>
            <th>Ip</th>
            <th>Cpu</th>
            <th>Symbol</th>
            <th>Date</th>
            <th>File</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="modal_symbol" tabindex="-1" role="dialog" aria-labelledby="modal_symbol_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_symbol_label">Crash dump</h4>
            </div>
            <div class="modal-body">
                <p>
                    Hej hej
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</html>
<script src="/bundles/symbols.js"></script>

