<head>
    <title>
        {{title}}
    </title>

    <!--<link rel="stylesheet" type="text/css" href="/css/chosen.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/chosen-bootstrap.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/styles.css">-->

    <link rel="stylesheet" type="text/css" href="/styles/app.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
